@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

#cuadro{
    width: 330px;
    background: #090909;
    color: #ffffff;
    margin: auto;
    margin-top: 120px;
    padding: 5px 5px 30px 5px;
    border-top: 35px solid #141414;
    border-right: 35px solid #141414;
    border-left: 35px solid #141414;
    border-radius: 6px;
    opacity: 0.7;
}
.entrada{
    width: 320px;
    height: 35px;
    border-radius: 6px;
    font-family: verdana;
    font-weight: 900;
}
#boton{
    width: 324px;
    height: 45px;
    border-radius: 6px;
    background: #00C613;
    color: #ffffff;
    font-size: 15px;
}
#titulo{
    font-size: 30px;
    
}
#subtitulo1{
    padding-left: 80px;
    align-items: center;
}
#subtitulo2{
    padding-left: 107px;
}
#marca{
    font-size: 30px;
    padding-left: 190px;
    font-weight: 900;
}
#contenedor{
    width: 330px;
    background: #090909;
    color: #ffffff;
    margin: auto;
    padding: 5px 5px 30px 5px;
    
    border-right: 35px solid #141414;
    border-left: 35px solid #141414;
    border-radius: 6px;
    opacity: 0.7;
}
#boton2{
    width: 324px;
    height: 45px;
    border-radius: 6px;
    background: #00C613;
    color: #ffffff;
    font-size: 15px;
}
#boton3{
    width: 324px;
    height: 45px;
    border-radius: 6px;
    background: #00C613;
    color:#000;
    font-size: 15px;
}
#referencias{
    margin-left: 110px;
    margin-top: 14px;
}
#referencias a{
    padding-left: 10px;
    text-decoration: none;
    color: #ffffff;
}
img{
    float: left;
}
.form-register { 
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    opacity: 0.7;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #07d691;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #07d691;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.perfil-usuario{
    background: linear-gradient(rgb(99, 211, 99), transparent);
}
.perfil-usuario img{
    width: 100%
}

.perfil-usuario .contenedor-perfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.perfil-usuario .portada-perfil{
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20rem;
    border-radius: 0 0 12px 12px;
    margin-bottom: .5rem;
}
.perfil-usuario .avatar-perfil{
    display: block;
    width: 230px;
    height: 230px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    bottom: -65px;
    left: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #ffffff;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, .4);
}
.perfil-usuario .datos-perfil{
    position: absolute;
    display: block;
    width: calc(100% - 230px - 8rem);
    right: 0;
    bottom:0;
    color:rgb(28, 49, 0);
    text-shadow: 0 0 5px rgba(0, 0, 0, .4);
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.perfil-usuario .titulo-usuario{
    font-size: 3rem;
    white-space: nowrap;
    margin-bottom: .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.perfil-usuario .bio-usuario{
    font-size: 1.1em;
    margin-bottom: .75rem;
}
.perfil-usuario .lista-perfil{
    list-style: none;
}
.perfil-usuario .lista-perfil li{
    display: inline-block;
    font-size: 1.1em;
    margin-right: 1em;
}
.perfil-usuario .opciones-perfil{
    display: block;
    position: absolute;
    right: 2rem;
    top: 1rem;
}
.perfil-usuario .opciones-perfil butoon{
    border: 0;
    padding: 8px 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    cursor: pointer;
}
.perfil-usuario .menu-perfil ul{
    display: flex;
    list-style: none;
    margin-left: calc(200px + 8rem);
    width: calc(100% - 200px - 8rem);
}
.perfil-usuario .menu-perfil ul li{
    margin-right: 1rem;
    display: inline-block;
}
.perfil-usuario .menu-perfil a{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: all ease-in 100ms;
}
.perfil-usuario .menu-perfil a:hover{
    background-color: yellowgreen;
    color: #fff;
}
.ventana{
    background: #24303c;
    width: 30%;
    color: #ffffff; 
    font-family: verdana;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 32%;
    top: 35%;
    display: none;
}

#cerrar{
    position:absolute;
    right: 3px;
    top: 1px;
}

.contC {
    width: 100%;
    height: 300px;
    position: relative;
    top: 0;
    background-image: url(Fondos-de-pantalla-de-naturaleza-ag.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contC:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(9, 243, 107, 0.534);
    position: absolute;
    top: 0;
    left: 0;
}

.contIC{
    max-width: 800px;
    height: 300px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

.contIC h1{
    font-size: 70px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
.contIC p{
    color: white;
    font-size: 30px;
    font-weight: 300;
}


.contCont{
    width: 900px;
    margin: auto;
    margin-top: 20px;
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background: rgb(228, 228, 228);
}

article::before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #07d691;
}

article h1{
    margin-top: 20px;
    font-weight: 600;
    font-size: 40px;
    color: #117453;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(24, 23, 23);
    text-align: justify;
}

article img{
    width: 100%;
    margin-top: 20px;
}


.form-register { 
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 16px;
    border: 1px solid #07d691;
    font-family: 'calibri';
    font-size: 18px;
    
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #07d691;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 100PX;
}

.btnA{
    font-size: 22px;
    line-height: 22px;
    display: block;
    text-align: left;
    color: #07d691;
    
}

.form-register .botons:hover{
    background: #5be9b9;
}

.h4 {
    text-align: center;
    color: white;
}


.fas .fa-tree{
    font-size: 22px;
    line-height: 22px;
    display: block;
    text-align: left;
    color: #07d691;
}

.overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.activate {
    visibility: visible;
}

.popup{
    background: #24303c;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 10);
    border-radius: 50px;
    border-color: #07d691;
    padding: 20px;
    text-align: center;
    width: 400px;


}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #07d691;
}

.popup h3{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.popup form .botons{
    width: 30%;
    background: #07d691;
    color: white;
    border-radius: 100PX;
    margin-bottom: 20px;
    height: 35px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
}

.popup form .botons:hover{
    background: #5be9b9;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.titulo{
    color:rgb(28, 49, 0);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px; 
}

/* Header */

header{
    width: 100%;
    height: 600px;
    background: #56ab2f;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(87, 67%, 63%, 0.507), hsla(101, 57%, 43%, 0.603)), url(../Imagenes/nat.png); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;

}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 80px;
    color:rgb(28, 49, 0);
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:rgb(28, 49, 0);
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos p{
    padding: 0px 50px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


.cards{
    justify-content: space-evenly;
}

.cards .card{
    background: #a8e063;
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6);
    padding: 8px 45px;
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 5px solid #fff;
    border-radius: 50%;
    display: block; 
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: black;
}

footer{
    background: #a8e063;
    padding: 60px 0 30px 0;
    margin: auto; 
    overflow: hidden;
    text-align: center;
}

.perfil-usuario{
    background: linear-gradient(rgb(99, 211, 99), transparent);
}
.perfil-usuario img{
    width: 100%
}

.perfil-usuario .contenedor-perfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.perfil-usuario .portada-perfil{
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20rem;
    border-radius: 0 0 12px 12px;
    margin-bottom: .5rem;
}
.perfil-usuario .avatar-perfil{
    display: block;
    width: 230px;
    height: 230px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    bottom: -65px;
    left: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #ffffff;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, .4);
}
.perfil-usuario .datos-perfil{
    position: absolute;
    display: block;
    width: calc(100% - 230px - 8rem);
    right: 0;
    bottom:0;
    color:rgb(28, 49, 0);
    text-shadow: 0 0 5px rgba(0, 0, 0, .4);
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.perfil-usuario .titulo-usuario{
    font-size: 3rem;
    white-space: nowrap;
    margin-bottom: .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.perfil-usuario .bio-usuario{
    font-size: 1.1em;
    margin-bottom: .75rem;
}
.perfil-usuario .lista-perfil{
    list-style: none;
}
.perfil-usuario .lista-perfil li{
    display: inline-block;
    font-size: 1.1em;
    margin-right: 1em;
}
.perfil-usuario .opciones-perfil{
    display: block;
    position: absolute;
    right: 2rem;
    top: 1rem;
}
.perfil-usuario .menu-perfil ul{
    display: flex;
    list-style: none;
    margin-left: calc(300px + 8rem);
    width: calc(100% - 200px - 8rem);
}
.perfil-usuario .menu-perfil ul li{
    margin-right: 1rem;
    display: inline-block;
}
.perfil-usuario .menu-perfil a{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: all ease-in 100ms;
}
.perfil-usuario .menu-perfil a:hover{
    background-color: yellowgreen;
    color: #fff;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#08a315, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background: linear-gradient(45deg, #3cff8d, #72ff31);
    background-image: url("../Imagenes/FondoVerde.png");
    background-size: cover;
    border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #ffff;
    cursor: pointer;
}
.seccion-perfil-usuario .perfil-usuario-portada .boton-portada:hover {
    background:rgba(83, 81, 81, 0.5);
}


.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -60px;
    left: calc(10% - 90px);
    z-index: 1;
    background-size: cover;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar:hover {
    background:rgba(230, 223, 223, 0.918);
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.Nom{
    
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: inherit;
    font-size: 40px;
    position: absolute;
    left: calc(26% - 90px);
    top: calc(95% - 90px);
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
    left: calc(50% - 90px);
}

.seccion-perfil-usuario .perfil-usuario-body input[type = "text"] {
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 30px;
    color: black;
    font-size: 16px;
}

.seccion-perfil-usuario .perfil-usuario-body .perfil-usuario-bio .boton_Des{
   size: 10px;
   color: #72ff31;
   position: absolute;
    right: -67px;
    top: -4px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body .perfil-usuario-bio .boton_Des:hover{
    background:rgba(230, 223, 223, 0.918);
}

.seccion-perfil-usuario .Publicaciones{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .Publicaciones .titulo{
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
    left: calc(50% - 90px);
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .perfil-usuario-footer .lista-datos .titulo {
    
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
    left: calc(50% - 90px);
}

.seccion-perfil-usuario .perfil-usuario-footer .lista-datos .botonE {
    width: 25%;
    background: white;
    color: #07d691;
    border-radius: 100PX;
    border-color: #07d691;
    margin-bottom: 5px;
    height: 30px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
}

.seccion-perfil-usuario .Bt .botonC {
    width: 100%;
    background: #07d691;
    color: white;
    border-radius: 100PX;
    border-color: #07d691;
    margin-bottom: 5px;
    height: 35px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
}
.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.header2{
    background: #a8e063;
    padding: 60px 0px 30px 0px;
    margin: auto; 
    overflow: hidden;
    text-align: center;
}
.header2 .menu-perfil a{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: all ease-in 100ms;
    font-weight: bold;
    list-style: none;
    margin-left: calc(0px + 0rem);
    width: calc(40% - 100px - 8rem);
    margin-right: 1rem;
    display: inline-block;   
}
.header2 .menu-perfil a:hover{
    background-color:yellowgreen;
    color: #fff;
}

/* ------------ header 2---------------*/

.hero{
    height: 20vh;
    background-image: url('../Imagenes/nat.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.hero .container{
    padding: 0;
}

.nav2 {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.hero__wave{
    position: initial;
    top: 5px;
    margin-bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

}
.nav__items{
    color: rgb(28, 49, 0);
    text-decoration: none;
    margin-right: 110px;
    margin-top: 145px;
    padding: 10px 15px;
    font-weight: inherit;
    font-size: 30px;
    position: absolute;
}
.logo{
    orientation: center;
    position: absolute;
    width: 50;
    background-repeat: no-repeat;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 90px;
    padding: 0px 0px;
}
.avatar{
    display: flex;
    font-weight: inherit;
    width: 110px;
    height: 110px;
    margin-top: 80px;
    background-color:rgb(255, 255, 255);
    position: absolute;    
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ffffff;
    
}

.galeria{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.contenedor{
    max-width: 1000px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

.item{
    background-color: #a8e063;
    cursor: pointer;
    box-shadow: 0 0 10px 0 #000000e5;

    transition: all 300ms;

    position: relative;
}

.item::after{
    content: "";
    background-color: rgba(167, 224, 97, 0.185);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
}

.item:hover:after{
    opacity: 1;
    transform: scale(1);
}

.item:hover{
    transform: scale(1.05);
}

.item-text{
    padding: 0.5em;
}

.item-img{  
    max-width: 100%;
    display: block;

}

@media screen and (min-width: 590px) {
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}

.seguidores{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;

    justify-content: space-evenly;

}
.seg .seguidor{
    background: #a8e063;
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6);
    padding: 8px 45px;
}
.seg .seguidor img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 5px solid #fff;
    border-radius: 50%;
    display: block; 
}
.seg .seguidor > .contenido-texto-card{
    width: 60%;
    color: black;
}

